@CHARSET "ISO-8859-1";




.nodeold text {
    font-size: 12px;
    font-family: Roboto Slab;
}

.nodeold {
    cursor: pointer;
}

.nodeold circle {
    fill: #ffffff;
    stroke: #808080;
    stroke-width: 1.5px;
}

.linkold {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
